
::v-deep svg path{
  fill: white;
}

::v-deep .sf-footer__container {
    justify-items: flex-start;
}

.footer {
    background-color: #32463d;
    @include for-desktop {
      margin-bottom: 0;
    }
    &__socials {
      display: flex;
      justify-content: space-between;
      margin: 0 auto var(--spacer-lg);
      padding: var(--spacer-base) var(--spacer-xl);
      @include for-desktop {
        justify-content: flex-start;
        padding: var(--spacer-xs) 0;
        margin: 0 auto;
      }
    }
    &__social-image {
      margin: 0 var(--spacer-2xs) 0 0;
    }
  }
  ::v-deep .sf-footer {
    @include for-desktop {
      border-top: none;
      padding-bottom: 0;
      margin-top: var(--spacer-2xl);
    }
    &__container {
      margin: var(--spacer-sm);
      @include for-desktop {
        max-width: 69rem;
        margin: 0 auto;
      }
    }
  }
  ::v-deep .sf-footer-column, ::v-deep .sf-footer-column__title {
    background-color: #32463d;
  }

  ::v-deep .desktop-only .sf-footer-column__title {
    padding: 0 0 13px 0
  }

  ::v-deep .sf-footer-column__title,::v-deep .sf-menu-item {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  ::v-deep .sf-input--outline input {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: var(--line-height--primary);
  }
  
  .footer {
    padding-bottom: 0;
  }

  ::v-deep .menu-item_p{
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }


  @media (max-width: 1024px) {
    ::v-deep  .sf-footer-column__content {
        padding: 0 17px 0 31px;
    }
  }   