::v-deep .sf-header__header {
  height: 60px;
}

::v-deep .sf-header-navigation-item__link {
  padding: 15px 0 5px 0;
}

::v-deep .header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

::v-deep .sf-header-navigation-item {
  display: block;
}

::v-deep .sf-header__navigation, ::v-deep .sf-header__navigation div {
  width: 100%;
  z-index: 1;
}

::v-deep .sf-header-navigation-item__link {
  font-weight: 500;
  font-size: 14px;
  color: #1D1F22;

  &:hover {
    border-color: var(--_c-greenmind-fern-primary-medium-green);
  }
  
}

::v-deep .dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
}

.dropdown-wrap:hover .dropdown {
  display: block;
  background: #1D1F22;
}

.dropdown-wrap:hover .custom-link {
  border-bottom: 2px solid #78a495;
}

.dropdown-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

::v-deep .sf-mega-menu__content {
  max-width: 1208px;
  width: 100%;
  padding-top: 55px;
  padding-bottom: 80px;
}

.parent-menu-title {
  font-size: 18px;
  font-weight: 400;
  color: #1D1F22;
}


::v-deep .sf-menu-item__label {
  font-size: 16px;
  font-weight: 400;
  color: #1D1F22;
  font-family: "Josefin Sans";
  text-transform: none;
  transition: all 0.3s;
}

::v-deep .sf-list__item::marker {
  content: none;
}

::v-deep .sf-list__item {
  color: var(--_c-greenmind-pine-secondary-dark-green);
  margin-bottom: 15px;
  border-bottom: 1px solid transparent;
}


::v-deep .sf-list__item:hover, 
.parent-menu-title:hover   {
  border-bottom: 1px solid var(--_c-greenmind-fern-primary-medium-green);
  color: var(--_c-greenmind-fern-primary-medium-green);

}

::v-deep .sf-list__item:hover .sf-menu-item__label {
  color: var(--_c-greenmind-fern-primary-medium-green);
}

::v-deep .sf-mega-menu-column {
  max-width: 100px;
  width: 100%;
}

::v-deep .sf-mega-menu-column:hover {
  & .parent-menu-title {
    color: var(--_c-greenmind-fern-primary-medium-green);
  }
}

::v-deep .sf-mega-menu-column .sf-mega-menu-column__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sf-header {
  z-index: 50;
}
