.sf-button_hamburguer_item {
    background: none;
    color: var(--_c-greenmind-primary-black);
    justify-content: left;
    font-family: var(--font-family--primary);
    padding-left: 15%;
    --button-text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    padding-top: 2%;
}
.sf-button_hamburguer_item:hover {
    --button-box-shadow-opacity: 0;
}
::v-deep .sf-icon {
    position: absolute !important;
    left: 0 !important;
}