.review-order {
    margin-bottom: 447px;
    @include for-mobile {
      margin-bottom: 47px;
    }
  }
  
  .review-order .title {
    font-size: 34px;
    font-weight: 700;
    color: #1d1f22;
    padding-top: 40px;
    padding-bottom: 24px;
    border-bottom: 2px solid #7ba393;
  }
  
  .orders .order {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 7px;
    border-bottom: 1px solid #f1f2f3;
  }
  
  .orders .order:hover {
    box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.1);
  }
  
  .orders .img-info-wrap {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  
  .order .image-container {
    max-width: 82px;
    width: 100%;
    margin-right: 42px;
  }
  
  .image-container img {
    width: 100%;
  }
  
  .product-info {
    width: 100%;
    & .product-title {
      font-size: 18px;
      font-weight: 400;
      color: #1d1f22;
    }
    & .gadget {
      color: #43464e;
      font-weight: 400;
      font-size: 16px;
    }
    & .code {
      color: #72757e;
      font-size: 16px;
      font-weight: 400;
      padding-top: 4px;
    }
  }
  .order .costs .price {
    color: #1d1f22;
    font-size: 18px;
    font-weight: 400;
  }
  
  .order .costs p {
    color: #43464e;
    font-size: 16px;
    font-weight: 400;
  }
  
  .order .costs {
    text-align: end;
    padding-right: 8px;
  }
  
  .subtotal p {
    font-size: 18px;
    font-weight: 400;
    color: #43464e;
  }
  
  .shipping p {
    font-size: 18px;
    font-weight: 400;
    color: #43464e;
  }
  
  .total-price-wrap .price {
    color: #1d1f22;
    font-size: 20px;
    font-weight: 700;
  }
  
  .total-price .total {
    color: #1d1f22;
    font-size: 20px;
    font-weight: 700;
  }
  
  .subtotal,
  .shipping,
  .total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .subtotal {
    padding-top: 26px;
    padding-bottom: 28px;
  }
  
  .shipping {
    padding-bottom: 18px;
    border-bottom: 2px solid #7ba393;
  }
  
  .total-price {
    padding-top: 16px;
    padding-bottom: 40px;
  }
  
  .checkbox-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .checkbox-wrap .label {
    // padding-left: 8px;
  }
  
  .checkbox-wrap a {
    text-decoration: underline;
  }
  
  .payment-btn {
    font-size: 14px;
    background: #32463d;
    color: #fff;
    font-weight: 500;
    border-radius: 100px;
    font-family: "Josefin Sans";
    width: 100%;
    padding-top: 20px;
    @include for-desktop {
      max-width: 224px;
    }
  }
  .submit-button {
    @include for-mobile {
      position: absolute;
      bottom: 0;
      width: calc(100% - 48px);
      padding-bottom: 20px;
    }
  }