::v-deep .sf-search-bar{
    display: none;
}

::v-deep .sf-header-navigation-item {
  display: block;
}

::v-deep .sf-header-navigation-item__link {
  font-weight: 500;
  font-size: 14px;
  color: #1D1F22;
}

::v-deep .dropdown-wrap:hover .custom-link {
  border-bottom: 2px solid #78a495;
}

::v-deep .dropdown-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

::v-deep .sf-mega-menu {
  z-index: 5;
}

::v-deep .sf-mega-menu__content {
  max-width: 1208px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 80px;
}


::v-deep .sf-menu-item__label {
  font-size: 15px;
  font-weight: 400;
  color: #1D1F22;
    font-family: var(--font-family--primary);

  text-transform: none;
  transition: all 0.3s;
}

::v-deep .sf-list__item::marker {
  content: none;
}

::v-deep .sf-list__item {
  color: #43464E;
  margin-bottom: 0px;
  margin-top: 0px;
  border-bottom: 1px solid transparent;
}

::v-deep .sf-list__item:hover {
  border-bottom: 1px solid #7BA393;
  color: #7BA393;
}

::v-deep .sf-mega-menu-column {
  max-width: 100px;
  width: 100%;
}

::v-deep .sf-mega-menu-column .sf-mega-menu-column__content {
  display: flex;
  align-items: flex-start;
}


::v-deep .custom-link {
  font-weight: 500;
  font-size: 14px;
  color: #1D1F22;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 31px;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: border 0.3s;
}

::v-deep .custom-link:hover {
  border-bottom: 2px solid #78a495;
}

::v-deep .menu-column-iphones {
  justify-content: flex-start;
  padding-left: 25px;
}

::v-deep .menu-column-smartphones {
  justify-content: flex-start;
  padding-left: 208px;
}

::v-deep .menu-column-tablets {
  justify-content: flex-start;
  padding-left: 435px;
}

::v-deep .menu-column-apple {
  justify-content: flex-start;
  padding-left: 620px;
}

::v-deep .menu-column-others {
  justify-content: flex-start;
  padding-left: 815px;
}

::v-deep .menu-column-accessories {
  justify-content: flex-start;
  padding-left: 1030px;
}

::v-deep .sf-mega-menu__menu {
  overflow: visible;
}

::v-deep .sf-list {
    min-width: 165px;
}

::v-deep .dropdown .sf-list a {
  margin-left: 23px;
  margin-right: 23px;
}

::v-deep .sf-mega-menu-column .f-mega-menu-column__header.sf-menu-item {
  display: none;
}

::v-deep .dropdown .sf-menu-item__label:hover {
  color: #7BA393;
}

::v-deep .sf-mega-menu-column__header {
  display: none;
}

::v-deep .sf-mega-menu-column {
  max-width: 165px;
}

::v-deep .sf-list a {
  margin: 16px 25px;
}

:v-deep .sf-mega-menu-column .f-mega-menu-column__header.sf-menu-item {
  display: none;
}

::v-deep .sf-menu-item__label:hover {
  color: #7BA393;
}

::v-deep .sf-mega-menu-column__header {
  display: none;
}

::v-deep .sf-header__icons{
  display: none;
}

::v-deep .sf-header__navigation {
width: 100%;
z-index: 1;
}

::v-deep .header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}