:root {
  --font-family--primary: "Josefin Sans"; 
  --line-height--primary: 24px;
    

  @include generate-color-variants(--_c-greenmind-primary-black, #1d1f22);
  @include generate-color-variants(--_c-greenmind-secondary-black, #43464E);

  @include generate-color-variants(--_c-greenmind-primary-green, #5ECE7B);
  @include generate-color-variants(--_c-greenmind-secondary-green, #9EE2B0);

  @include generate-color-variants(--_c-greenmind-primary-grey, #72757E);
  @include generate-color-variants(--_c-greenmind-secondary-grey, #8D8F9A);

  @include generate-color-variants(--_c-greenmind-dark-grey-accent, #E0E0E1);
  @include generate-color-variants(--_c-greenmind-light-grey-accent, #F1F2F3);

  @include generate-color-variants(--_c-greenmind-primary-red, #D12727);
  @include generate-color-variants(--_c-greenmind-secondary-red, #FCEDE8);

  @include generate-color-variants(--_c-greenmind-primary-blue, #0468DB);
  @include generate-color-variants(--_c-greenmind-secondary-blue, #E1F4FE);

  @include generate-color-variants(--_c-greenmind-primary-yellow, #ECC713);
  @include generate-color-variants(--_c-greenmind-secondary-yellow, #F6E389);

  @include generate-color-variants(--_c-greenmind-pine-primary-dark-green, #32463D);
  @include generate-color-variants(--_c-greenmind-pine-secondary-dark-green, #435E52);

  @include generate-color-variants(--_c-greenmind-fern-primary-medium-green, #7BA393);
  @include generate-color-variants(--_c-greenmind-fern-secondary-medium-green, #78A886);

  @include generate-color-variants(--_c-greenmind-mint-primary-light-green, #A5CEBE);
  @include generate-color-variants(--_c-greenmind-mint-secondary-light-green, #BAE8D6);

  @include generate-color-variants(--_c-greenmind-sand-primary, #E0D6C9);

  /* start storefront ui components customization */


  /* sf-accordion-item */
  --accordion-item-header-font: var(--font-family--primary);
  --accordion-item-header-font-size: 20px;
  --accordion-item-header-font-line-height: var(--line-height--primary);
  /* sf-heading */
  --heading-title-font: var(--font-family--primary);

  /* sf-color */
  --color-width: 15px !important;
  --color-height: 15px;
  --color-border-radius: 50%;

  /* sf-range */
  --range-tooltip-font-family	: var(--font-family--primary);
  --range-tooltip-font-size: 16px;
  --range-tooltip-font-line-height: 22px;	

  /* sf-hero */
  --hero-item-subtitle-font	: var(--font-family--primary);
  --hero-item-title-font		: var(--font-family--primary);  
  
  /* sf-call-toaction */
  --call-to-action-title-font		: var(--font-family--primary);
  --hero-item-title-font		: var(--font-family--primary);
}


.topbar {
  z-index: 1 !important;
}

.layout {
  box-sizing: border-box;
  @include for-desktop {
    max-width: 1240px;
    margin: auto;
  }
}
